body {
    font-family: Segoe UI, SegoeUI, Microsoft YaHei, 微软雅黑, Helvetica Neue,
        Helvetica, Arial, sans-serif;
    background: #f2f2f2;
}
#container {
    margin: 20px auto;
    width: 80%;
}
textarea {
    width: 400px;
    height: 200px;
    resize: none;
}
.error {
    color: red;
    font-weight: bold;
}

h2 {
    color: green;
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

#note {
    margin: 20px 0;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    min-height: 50px;
}

a {
    color: #0066cc;
}
